
.stage-ej-37{
    width: 100vw;
    height: 30vh;
    background-color: rgb(26, 24, 24);
}

.bola-ej-37{
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: aqua;
}
.div-ej-66{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.div-uno-ej-66{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.div-dos-ej-66{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}




